
@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.Message</h2>
<h2>Toți profesorii</h2>

<div>
    @foreach (practica_fmi.Models.Profesor profesor in ViewBag.profs)
    {
        <div class="panel panel-default">
            <div class="fancy-panel">
                <h1>@profesor.Nume @profesor.Prenume</h1>
                <hr />    
                <h2>Grad didactic: @profesor.GradDidactic</h2>
                <br />
                <p>email: @profesor.Email</p>
                <br />
            </div>
            <div class="panel-footer">
                <a href="/Profesors/Edit/@profesor.ProfesorId" class="btn btn-primary pull-left">Editează</a>
                <form method="post" action="/Profesors/Delete/@profesor.ProfesorId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-danger pull-right" type="submit">Șterge</button>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    }
    <a href="/Profesors/New/" class="btn btn-success">Adaugă un prof nou</a>
</div>

