
@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.messsage</h2>
<h2>Toți profesorii</h2>

<div>
    @foreach(practica_fmi.Models.Profesor profesor in ViewBag.profs)
    {
        <div class="panel panel-default">
            <p>@profesor.Nume @profesor.Prenume</p>
            <br />
            <p>@profesor.GradDidactic</p>
            <br />
            <p>@profesor.Email</p>
            <br />
        </div>
    }
    <a href="/Profesors/New/" class="btn btn-primary">Adaugă un prof nou</a>
</div>

