@model practica_fmi.Models.CursViewModel
@{
    ViewBag.Title = "New";
}

<h2>@ViewBag.messsage</h2>

@using (Html.BeginForm("New", "Cursuri", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()

    <br />
    @Html.Label("Denumire", "Denumire curs")
    @Html.EditorFor(c => c.Curs.Denumire)
    @Html.ValidationMessage("Denumire", null, new { @class = "text-danger" })
    <br />
    <label>Adaugă profesor</label>
    @Html.ListBoxFor(c => c.SelectedProfIds, Model.AllProfIds)
    <br />
    <label>Adaugă student</label>
    @Html.ListBoxFor(c => c.SelectedStudentsIds, Model.AllStudentIds)

    <button type="submit" class="btn btn-success">Adaugă</button>
}

